/* 

Richard Tape
http://iamfriendly.com/
http://twitter.com/iamfriendly

HTML5 CSS Reset by Rich Clark (http://richclarkdesign.com/) and modified slightly by me
Minified it, too

*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}body{line-height: 1.6;}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display: block;}ol,ul{list-style: none;}blockquote,q{quotes: none;}blockquote: before,blockquote: after,q: before,q: after{content: '';content: none;}a{margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;background: transparent;}ins{background-color: #ff9;color: #000;text-decoration: none;}mark{background-color: #ff9;color: #000;font-style: italic;font-weight: bold;}del{text-decoration:  line-through;}abbr[title],dfn[title]{border-bottom: 1px dotted #000;cursor: help;}table{border-collapse: collapse;border-spacing: 0;}hr{display: block;height: 1px;border: 0;border-top: 1px solid #cccccc;margin: 1em 0;padding: 0;}input,select{vertical-align: middle;}a img{border:  none;}: : selection{background:  rgb(80,80,80); color:  white;}: : -moz-selection{background:  rgb(80,80,80); color:  white;}img: : selection{background:  transparent;}img: : -moz-selection{background:  transparent;}body{-webkit-tap-highlight-color:  rgb(255,255,158);}


body
{
	background: rgb(250,250,250);
}

header
{
	padding: 20px;
	clear: both;
	width: 1068px;
	margin: 0 auto;
	min-height: 28px;
}

#content
{
	clear: both;
	color: #333333;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	width: 1068px;
	margin: 0 auto;
	font-family: 'Merriweather', serif;
}

p
{
	margin-bottom: 20px;
}

h2
{
	font-size: 21px;
	font-family: "Play", Helvetica, Arial, sans-serif;
	color: black;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

header > nav
{
	float: right;
}


/* Menu Styles */

#nav,
#nav ul
{
	position: relative;
}

	#nav a
	{
		display: block;
		padding: 5px 12px;
		color: #E5E5E5;
		text-decoration: none;
		background: #222222;
		text-transform: uppercase;
		font-size: 11px;
		font-family: "Play", Helvetica, Arial, sans-serif;
		letter-spacing: 1px;
	}
	
	#nav > li > a
	{
		margin-right: 2px;
	}

	#nav a:hover
	{
		background-color: #fff;
		color: #333;
	}

	#nav li
	{
		float: left;
		position: relative;
	}
	
	#nav > li.current-menu-item > a
	{
		background-color: #999;
	}
	
	#nav > li
	{
		border-bottom: 2px solid transparent;
	}
	
	#nav > li > ul > li
	{
		border-right: 2px solid transparent;
	}
	
	#nav > li.goleft > ul > li
	{
		border-right: none;
		border-left: 2px solid transparent;
	}
	
		#nav ul
		{
			position: absolute;
			left: -9999px;
			top: 29px;
		}

			#nav li ul a
			{
				width: 120px;
				height: auto;
				float: left;
			}

			#nav ul ul
			{
				top: auto;
			}	

			#nav li ul ul
			{
				margin: 0 0 0 10px;
			}

			#nav li:hover ul ul,
			#nav li:hover ul ul ul,
			#nav li:hover ul ul ul ul
			{
				left: -9999px;
			}
			
			#nav li:hover ul
			{
				left: 0;
			}
			
			#nav li.goleft:hover ul
			{
				left: auto;
				right: 0;
			}
			
			#nav li ul li:hover ul
			{
				left: 136px;
			}
			
			#nav li.goleft ul li:hover ul
			{
				left: auto;
				right: 146px;
			}
			
			#nav > li:first-child > a
			{
				-webkit-border-radius: 4px 0 0 4px;
				-moz-border-radius: 4px 0 0 4px;
				border-radius: 4px 0 0 4px;
				box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
			}
			
			#nav > li:last-child > a
			{
				-webkit-border-radius: 0 4px 4px 0;
				-moz-border-radius: 0 4px 4px 0;
				border-radius: 0 4px 4px 0;
				box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
			}
			
/* End menu styles */